@model IEnumerable<SplashSTLSite2019w_users.ViewModels.Location.LocationListItemViewModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Locations</h1>

<p>
    <a asp-action="Create">Add a new location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Average Rating
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-controller="Location" asp-action="Details" asp-route-ID="@item.Id">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageRating)
                </td>
                <td>
                <td><a asp-controller="LocationRating" asp-action="Create" asp-route-locationID="@item.Id">Rate and Review</a></td>
                <td>
                    |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                   
                </td>
            </tr>
        }
    </tbody>
</table>